<script src="http://code.jquery.com/jquery-latest.js"></script>

<form action="" method="POST">
    {% csrf_token %}
    <form action="" method="POST">
        ID : <input type="text" name="id" id="id">
        <button id="chk_btn">중복 체크</button><br>
        {% if id %}
            {{id}}<br>
        {% endif %}
    </form>
    비밀번호 : <input type="password" name="pwd"><br>
    <input type="submit" value="회원가입"><br>
</form>
<button onClick="location.href={% url 'login_screen' %}">취소</button>

<script>
    $("#chk_btn").click(funtion(){
        $.ajax({
            type: 'post',
            url: 'http://127.0.0.1:8000/create_user/',
            data: $("#id").val()
        })
    })
    
</script>