<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>든든카</title>
    <!-- j쿼리 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 아이콘 사이트 -->
    <script src="https://kit.fontawesome.com/0b5ddba842.js" crossorigin="anonymous"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- css -->
    <!-- 배경 -->
    <style>
      body {
        background: url('https://www.autospy.net/data/editor/2201/thumb-e019833800392a6e6b4636ab29eb19df_1641346698_5751_700x467.jpg') no-repeat
        center center fixed;
        
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    
      section {
        margin-bottom: 150px;
      }

      .card {
        background-color: rgba(255,255,255,0.6)
      }

      .fixed-bottom {
        background-color: white;
      }
    </style>
  </head>
<body>
    <!-- 로그인 확인 -->
    {% load socialaccount %}

    <!-- 네이게이션 바-->
    {% include 'main/navbar.html' %}


      <!-- 페이지 소개 -->
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-6 text-light">
            <h1 class="mt-5">든든카 간단 소개</h1>
            <p>관심있는 중고차의 앞으로의 예상 감가가 어떤지, 적정 시세는 어떤지 알아보세요.</p>
          </div>

          <!-- 블로그 카드 -->
          <div class="col-lg-5 mt-5">
            <h2 class="text-light"><a href="http://127.0.0.1:8000/blog/" class="text-decoration-none text-light">거래 게시판</a></h2>
            {% for p in posts %}
            <div class="card mt-1">
              <div class="card-body">
                <h5><a href="{{ p.get_absolute_url }}" class="text-decoration-none text-dark">{{p.title}}</a></h5>
                  <span class="badge rounded-pill bg-light float-right text-dark">
                    <a class="text-decoration-none text-dark" href="{{ p.get_user_url }}">{{p.author.username}}</a>
                    &nbsp;
                    &nbsp;
                    {{p.created_at}}
                  </span>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>  
      
    </div>
    <!-- 사이트 밑 바 -->
    <div class="fixed-bottom">

    <!-- 차량 선택 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">       

          <!-- 회사명 선택 -->
          <select id="maker" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>회사명</option>
            {% for m in maker %}
            <option value={{ m.company }}>{{m.company}}</option>
            {% endfor %}
          </select>

          <!-- 차종 선택 -->
          <select id="car_list" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">         
          </select>

          <!-- 세부 차종 선택 -->
          <select id="car_list_detail" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          </select>

          <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
        </div>
        <a id="car_btn" type="button" class="navbar-brand btn btn-outline-dark">차량 검색</a>
        <a id="cancel_btn" type="button" class="navbar-brand btn btn-outline-dark">취소</a>
      </nav>

      <div id="all_chart">
        <h3 id="car"></h3>
        <h4 id="down_rate"></h4>
      <div id="car_chart"></div>
      </div>
    </section>
    
    </div>
    

      <!-- 함수 -->
    <script>
      // 차종 비활성화
      function car_list_disabled(){
          // 차종선택 비활성화
        $("#car_list").empty()
        $("#car_list").append("<option selected>회사명을 선택하세요</option>")
        $("#car_list").prop('disabled', true)
      }

      // 세부차종 비활성화
      function car_list_detail_disabled(){
        $("#car_list_detail").empty()
        $("#car_list_detail").append("<option selected>차종을 선택하세요</option>")
        $("#car_list_detail").prop('disabled', true)
      }

      // 차종 선택
      $(document).ready(function(){
          $('#maker').on('change', function() {
            if(this.value== "회사명")
            {       
              car_list_disabled()
              car_list_detail_disabled()
            }
            else
            {
              $("#car_list").prop('disabled', false)

              // 회사명 추출
              maker = this.value
              
              $.ajax({
                type:'GET',
                url: "http://127.0.0.1:8000/"+maker,
                success: function(data)
                {
                  // 차종항목 초기화
                  $("#car_list").empty()            
                  $("#car_list").append("<option selected>차종을 선택하세요</option>")

                  // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                  for(var i=0; i<Object.keys(data).length; i++)
                  {
                    $("#car_list").append("<option value=" + data[i] +">"+data[i]+"</option>")
                  }
                }
              })
            }
          });
      });  

       // 세부차종 선택
       $(document).ready(function(){
        $('#car_list').on('change', function() {
          if(this.value== "차종을 선택하세요")
          {       
            car_list_detail_disabled()
          }
          else
          {
            $("#car_list_detail").prop('disabled', false)

            // 회사명 추출
            car_name = this.value
            
            $.ajax({
              type:'GET',
              url: "http://127.0.0.1:8000/car_detail/"+car_name,
              success: function(data)
              {
                // 차종항목 초기화
                $("#car_list_detail").empty()            
                $("#car_list_detail").append("<option selected>세부차종을 선택하세요</option>")

                // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                for(var i=0; i<Object.keys(data).length; i++)
                {
                  $("#car_list_detail").append("<option value=" + i +">"+data[i]+"</option>")
                }
              }
            })
          }
        });
    });

      
      // 차량 검색 버튼
      $("#car_btn").click(function(){
        if($("#car_list_detail").val()=="차종을 선택하세요")
        {
          car_name = $("#car_list_detail").val()
          alert(car_name)
        }
        else
        {
          $("#car_chart").append()

          car_name = $("#car_list").val()
          detail_no = $("#car_list_detail").val()
          $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/car_chart/"+car_name +"/"+detail_no,
            success: function(data)
            {
              $("#car").empty()
              $("#down_rate").empty()
              $("#car").append(data['name'])
              $("#down_rate").append("예상 감가율: "+data['down_rate']+"%")

              var chartOptions = {
                chart: {
                  renderTo: 'car_chart',
                  type: 'line'
                },
                title: {
                  text: data['name']
                },
                xAxis: {
                  categories: [2023,2024,20250,2026,2027]
                },
                yAxis: {
                  title: '예상 감가'
                },
                series: [{
                  name: data['name'],
                  data: [data['price'][0],data['price'][1],data['price'][2],data['price'][3],data['price'][4]]
                }]
              };
          
              var chart = new Highcharts.Chart(chartOptions);
              //$("#car_chart").append(chart.render())
            }
          })
        }
      });

      $("#cancel_btn").click(function(){
        $("#all_chart").empty()
      })

      // 차량리스트, 세부차량 비활성화
      $(function(){
        car_list_disabled()
        car_list_detail_disabled()
      })
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>