<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- j쿼리 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 아이콘 사이트 -->
    <script src="https://kit.fontawesome.com/0b5ddba842.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 로그인 확인 -->
    {% load socialaccount %}

    {% if user.is_authenticated %}
    <a role="button" href="/accounts/logout/">{{user.username}} : 로그아웃</a>
    {% endif %}

    <!-- 네이게이션 바-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000">든든카</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/admin">테스트용 관리자 계정</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/blog">게시판</a>
              </li>
            </ul>
            <!-- 로그인 했을 시 -->
          {% if user.is_authenticated %}  
          <ul class = "navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
              </ul>
            </li>
          </ul>        
          <!-- 로그인 안했을 시-->
          {% else %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <!-- href = {% provider_login_url 'google' %} -->
              <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#loginmodal">Log in</a>
            </li>
          </ul>
          {% endif %}
          </div>
        </div>
    </nav>

    <!-- 로그인 모달 -->
    <div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginmodalLabel"><i class="fa-solid fa-right-to-bracket"></i> 로그인</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-outline-dark" onclick="location.href='{% provider_login_url 'google' %}'"><i class="fa-brands fa-google"></i>  구글 로그인</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 게시판 테이블 -->
    <table class="table img-fluid w-100">
        <thead class="thead-dark">
          <tr>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">업데이트날짜</th>
            <th scope="col">게시 날짜</th>
          </tr>
        </thead>
        <tbody>
          {% for p in posts %}
          <tr>
            <th>{{p.title}}</th>
            <td>{{p.content}}</td>
            <td>{{p.updated_at}}</td>
            <td>{{p.created_at}}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    
      <!-- 메인화면 이미지 -->
    <div>
        <div>
            <img src="https://www.autospy.net/data/editor/2201/thumb-e019833800392a6e6b4636ab29eb19df_1641346698_5751_700x467.jpg" class="img-fluid w-100">
        </div>


    </div>
    
    <div class="wrap_car_list img-fluid w-100">
        <div class="car_maker">
          제조사
          <div class="list-comm js-tabs">
            <d1>
              <dd>
                <button type="button" onClick>현대</button></dd>   
              <dd>
                <button type="button" onClick>기아</button></dd>
            </d1>
          </div>
        </div>

        <div class="car_model img-fluid w-100">
          모델
          <div class="list-comm js-tabs">
            제조사를 선택하세요.
            <d1 id="model">
            </d1>
          </div>
        </div>
       </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>