{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Post-든든{% endblock %}

{% block main_area %}
    <h1>든든하게 수정!</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form | crispy }}
        <button type="submit" class="btn btn-primary float-right">든든!</button>
    </form>

    <script>
        $(document).ready(function(){
            $('#id_생산지').on('change', function() {
                // 회사명 추출
                maker = this.value
                
                $.ajax({
                  type:'GET',
                  url: "http://127.0.0.1:8000/blog/create_post/made/"+maker,
                  success: function(data)
                  {
                    // 차종항목 초기화
                    $("#id_브랜드").empty()            
                    $("#id_브랜드").append("<option selected>차종을 선택하세요</option>")
  
                    // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                    for(var i=0; i<Object.keys(data).length; i++)
                    {
                      $("#id_브랜드").append("<option value=" + data[i] +">"+data[i]+"</option>")
                    }
                  }
                })
              
            });
        }); 
        
        $(document).ready(function(){
            $('#id_브랜드').on('change', function() {
                // 회사명 추출
                name = this.value
                
                $.ajax({
                  type:'GET',
                  url: "http://127.0.0.1:8000/blog/create_post/brand/"+name,
                  success: function(data)
                  {
                    // 차종항목 초기화
                    $("#id_차종").empty()            
                    $("#id_차종").append("<option selected>차종을 선택하세요</option>")
  
                    // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                    for(var i=0; i<Object.keys(data).length; i++)
                    {
                      $("#id_차종").append("<option value=" + data[i] +">"+data[i]+"</option>")
                    }
                  }
                })
              
            });
        }); 

        $(document).ready(function(){
            $('#id_차종').on('change', function() {
                // 회사명 추출
                papa = this.value
                
                $.ajax({
                  type:'GET',
                  url: "http://127.0.0.1:8000/blog/create_post/detail/"+papa,
                  success: function(data)
                  {
                    // 차종항목 초기화
                    $("#id_세부차종").empty()            
                    $("#id_세부차종").append("<option selected>차종을 선택하세요</option>")
  
                    // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                    for(var i=0; i<Object.keys(data).length; i++)
                    {
                      $("#id_세부차종").append("<option value=" + data[i] +">"+data[i]+"</option>")
                    }
                  }
                })
              
            });
        }); 
</script>
{% endblock %}