{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Post-든든{% endblock %}

{% block main_area %}
    <h1>든든하게 수정!</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form | crispy }}
        <button type="submit" class="btn btn-primary float-right">든든!</button>
    </form>

    <script>
        $(document).ready(function(){
            $('#id_생산지').on('change', function() {
                // 회사명 추출
                maker = this.value
                
                $.ajax({
                  type:'GET',
                  url: "http://127.0.0.1:8000/blog/create_post/made/"+maker,
                  success: function(data)
                  {
                    // 차종항목 초기화
                    $("#id_브랜드").empty()            
                    $("#id_브랜드").append("<option selected>차종을 선택하세요</option>")
  
                    // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                    for(var i=0; i<Object.keys(data).length; i++)
                    {
                      $("#id_브랜드").append("<option value=" + data[i] +">"+data[i]+"</option>")
                    }
                  }
                })
              
            });
        }); 
        
        $(document).ready(function(){
            $('#id_브랜드').on('change', function() {
                // 회사명 추출
                name = this.value
                
                $.ajax({
                  type:'GET',
                  url: "http://127.0.0.1:8000/blog/create_post/brand/"+name,
                  success: function(data)
                  {
                    // 차종항목 초기화
                    $("#id_차종").empty()            
                    $("#id_차종").append("<option selected>차종을 선택하세요</option>")
  
                    // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                    for(var i=0; i<Object.keys(data).length; i++)
                    {
                      $("#id_차종").append("<option value=" + data[i] +">"+data[i]+"</option>")
                    }
                  }
                })
              
            });
        }); 

        $(document).ready(function(){
            $('#id_차종').on('change', function() {
                // 회사명 추출
                papa = this.value
                
                $.ajax({
                  type:'GET',
                  url: "http://127.0.0.1:8000/blog/create_post/detail/"+papa,
                  success: function(data)
                  {
                    // 차종항목 초기화
                    $("#id_세부차종").empty()            
                    $("#id_세부차종").append("<option selected>차종을 선택하세요</option>")
  
                    // 딕셔너리 형태의 차종을 모두 차종 항목에 삽입
                    for(var i=0; i<Object.keys(data).length; i++)
                    {
                      $("#id_세부차종").append("<option value=" + "\"" +data[i] +"\"" +">"+data[i]+"</option>")
                    }
                  }
                })
              
            });
        }); 


        $("#price").click(function(){
            //모든 항목 변수
            leee= $("#id_생산지").val() + "_"+ $("#id_브랜드").val() + "_"+ $("#id_차종").val() + "_"+ $("#id_세부차종").val() + "_"+$("#id_연식").val() + "_"+$("#id_주행거리").val() + "_"+$("#id_연료").val() + "_"+$("#id_구동방식").val() + "_"+$("#id_배기량").val() + "_"+$("#id_색상").val() + "_"+$("#id_압류및저당").val() + "_"+$("#id_사고유무").val() + "_"+$("#id_전속이력").val()
            // url에 변수값 실어서 전송
            //success시 data => 예상가격
            $.ajax({
                type:'GET',
                url: "http://127.0.0.1:8000/blog/create_post/lee/"+leee,
                success : function(you){
                $("#price").text("적정가격:"+Object.values(you)+"만원")
            },
            error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                alert("빈칸을 다 입력해 주세요.")
            }
       
            })
        });
    </script>
{% endblock %}